#date {
  fill: rgb(224,224,224);
  font-size: 28;
  text-anchor: middle;
  text-length: 11;
}

#time {
  font-size: 96;
  text-anchor: middle;
  text-length: 4;
}

#heart-rate {
  text-length: 3;
}

#charge-level {
  text-length: 1;
}

#step-counter {
  text-length: 5;
}

text {
  font-family: System-Light;
  font-weight: light;
  fill: white;
}

.metrics {
  font-family: System-Regular;
  font-size: 20;
  fill: rgb(207,221,226);
}
